/* 
X-Small	< 576px
Small	≥ 576px
Medium	≥ 768px
Large	≥ 992px
Extra large	≥ 1200px
Extra extra large	≥ 1400px
*/

:root{
    --dark-green:#27362c;
    --main-green: #689679;
    --main-black: #1F1F1F;
    --main-orange: #E58980;
    --vert-clair: #f1faf4;

}

/* _________________REGLAGES GENERAUX___________________ */
* {
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    line-height: 1.4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color: var(--dark-green);
    
}
.mb-1{
    padding-bottom: 0.5rem;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col-3{
    width: 30%;
    margin: 0 0.5rem;
}

.experiences, .formations, .resume{
    padding: 16px;
}

.bg-vert{
    padding: 24px;
    background-color: var(--vert-clair);
}
.main-section{
    padding-bottom: 50px;
    padding-top: 40px;
}
.content{
    padding: 16px;
}
/* ____________________navigation___________________ */
.nav{
    background-color: var(--dark-green);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.nav a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-link{
    list-style-type: none;
    padding-left: 1.5rem;
    font-size: 0.9rem;
}

/* _____________________me______________________ */
.me{
    padding: 16px;
    background-color: var(--main-green);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.me-photo{
    width: 150px;
    display: inline-block;
    border-radius: 150px;
}
.me-infos{
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}
.me-mail{
    margin-top: 0.3rem;
}
.me-mail, .me-linkedIn, .me-github{
    display:block;
    text-decoration: none;
    color: white;
    margin-bottom: 0.3rem;
}
.me-infos i{
    color: var(--dark-green);
    font-size: 1.2rem;
}


/* _______________ présentation_________________ */
.pres{
    text-align: center;
    padding: 16px;
}

.pres-titre{
    color: var(--main-green);
    font-size: 3rem;
    margin: 1.5rem auto;
}
.pres-soustitre{
    color: var(--dark-green);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.pres-accroche{
    font-size: 1.2rem;
    color: var(--dark-green);
}

/* __________________skills__________________ */
.skill{
    padding: 12px;
}
.skill-titre{
    text-align: center;
    color:var(--main-green);
    padding-bottom: 12px;
    border-bottom: 1px solid var(--dark-green);
}
.skill-list{
    padding: 8px;
}
.skill-item{
    list-style-type:'. '; 
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

/* __________________Experiences__________________ */
.experience{
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 16px 0;
    padding: 16px;
    width: 80%;
    max-width: 800px;
}
.experiences-titre, .formations-titre{
    color: var(--main-green);
    padding-bottom: 12px;
    border-bottom: 1px solid var(--dark-green);
    max-width: 200px;
    margin-bottom: 16px;
}
.experience-titre{
    color: var(--main-orange);
    margin: 8px 0 4px 0;
}

.item-soustitre{
    margin: 6px 0;
}
.item-content{
    font-size: 0.9rem;
}
.phase2{
    margin-left:auto;
}
.experience-item ul{
    font-size:0.9rem;
}

/* ___________________Formations__________________ */

.formation{
    text-align: center;
}
.formation-image{
    height: 100px;
    display: block;
    margin: auto;
    text-align:center;
}

/* ________________Télécharger le cv_______________ */
.btn-cv {
    background-color: var(--main-orange);
    color: var(--dark-green);
    border: 1px solid var(--dark-green);
    border-radius: 8px;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 0.8rem;
    display: block;
    margin:10px auto 0;
}
.btn-cv:hover{
    background-color: var(--dark-green);
    color: white;
}

/* ____________________Footer__________________ */

.footer{
    font-size: 0.8rem;
}
.footer-legal h4{
    padding-bottom: 0.7rem;
}
.footer-legal{
    background-color: var(--main-orange);
    justify-content:center;
    padding: 16px 0;
}
.footer-legal ul{
    padding: 0;
}
.footer-legal li{
    list-style-type: none;
    padding-bottom: 0.5rem;
    /* text-align: center; */
}
.footer-legal a{
    color: var(--dark-green);
}

.footer-end{
    background-color: var(--dark-green);
    color: white;
    text-align: center;
    padding: 16px 0;
}



/* _____________________ other___________________ */
.col-2{
    width: 50%;
}
.col-2 .experience-image{
    width: 100%;
}
.btn-other{
    background-color: var(--dark-green);
    color:white;
    border-radius: 8px;
    padding: 10px 24px;
    cursor: pointer;
    font-size: 0.9rem;
    display: block;
    margin:10px auto 0;
}
.btn-other a{
    text-decoration: none;
    color: white;
}
.btn-other i{
    color: white;
}
.btn-other:hover{
    border: 1px solid var(--dark-green);
    background-color: var(--main-orange);
    font-weight: bold;
}
.btn-other:hover a{
    color: var(--dark-green);
}
.btn-other:hover i{
    color: var(--dark-green);
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ___________________Veilles / flashcards sommaire_________ */



.veilles .col-3,
.flashcards .col-3{
    text-align: center;
    padding: 12px;
    border: 1px solid var(--main-green);
    box-shadow: 5px 8px 4px #777;
}
.veilles h2,
.flashcards h2{
    margin-bottom: 24px;
}