<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../style.css">
    <title>Azure AZ900</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <p class="logo"><a href="index.html"><i class="fa fa-home fa-2x"></i></a></p>
            <ul class="navbar">
                <li class="navbar-link"><a href="index.html#skills">Skills</a></li>
                <li class="navbar-link"><a href="index.html#experiences">Expériences</a></li>
                <li class="navbar-link"><a href="index.html#formations">Formations</a></li>
                <li class="navbar-link"><a href="https://github.com/carozum" target="_blank">Portfolio</a></li>
                <li class="navbar-link"><a href="other.html">Intérêts</a></li>
                <li class="navbar-link"><a href="sommaire-veilles.html">Veilles</a></li>
                <li class="navbar-link"><a href="sommaire-flash-cards.html">FlashCards</a></li>
            </ul>
        </nav>

        <section class="me">
            <div class="me-infos">
                <p class="me-adresse"><i class="fa fa-map"></i> Pays Basque - Toulouse - Remote</p>
                <a class="me-mail" href="mailto:test-caro@gmail.com"><i class="fa fa-envelope"></i> Me contacter</a>
                <!-- Ajouter le logo linked in -->

                <a href="www.linkedin.com/in/carozum" class="me-linkedIn"><i class="fa fa-linkedin"></i> Profil
                    LinkedIn</a>
                <a href="www.https://github.com/carozum" class="me-github"><i class="fa fa-github"></i> Profil
                    GitHub</a>
            </div>
            <div class="me-image">
                <img src="../../assets/images/photo-caro-cv.png" alt="une photo de caroline zumbiehl souriante"
                    class="me-photo">
            </div>
        </section>


        <section class="pres bg-vert">
            <h1 class="pres-titre">Veilles Azure 900</h1>
            <p class="pres-soustitre">Cloud Computing</p>
            <!-- <p class=" pres-accroche mb-1"> -->
            </p>
        </section>
    </header>

    <section class="breadcrumb main-content content">
        <p>
            <!-- <a href="flask-add-templates.html">Page précédente</a> <i class="fa fa-arrow-left"></i>  -->
            <a href="../../sommaire-veilles.html">Sommaire Veilles</a>
            <!-- <i class="fa fa-arrow-right"></i> <a
                href="flask-template-inheritance.html">Page suivante</a> -->
        </p>
    </section>

    <main class="veilles main-section">

        <!-- section 1 installation -->

        <section class="main-content content">
            <h2>Types of services</h2>

            <h3>Software as a Service</h3>
            <p>Examples:</p>
            <ul>
                <li>Microsoft 365 is a cloud-only delivered product (SaaS)</li>
            </ul>

            <h3>Platform as a Service</h3>
            <p>When you need to build an application and stull support some of the underlying capabilities</p>
            <p>Databases by nature are all PaaS. </p>
            <p>Examples:</p>
            <ul>
                <li>Azure Web Apps</li>
                <li>Azure SQL Server</li>
            </ul>

            <h3>Infrastructure as a Service</h3>
            <p>Based on infrastructure requirements.</p>
            <p>Examples:</p>
            <ul>
                <li>Azure Blob Storage</li>
            </ul>

        </section>

        <section class="main-section content">
            <h2>Serverless computing</h2>
            <p>Examples:</p>
            <ul>
                <li>Azure Functions</li>
                <li>Azure Logic Apps</li>
            </ul>
        </section>

        <section class="main-section content">
            <h2>Cloud caracteristics</h2>
            <h3>Elasticity</h3>
            <p>Allows one to quickly expand or decrease computer processing, memory and storage resources to meet
                changing deands without worrying about capacity planning and engineering for peak usage.</p>
            <h3>Scalability</h3>
            <p>Focuses on the ability of a system to resize to handle changing loads.</p>
            <h3>Agility</h3>
            <p>Agility has to do with the speed of allocating resources.</p>
        </section>

        <section class="main-section content">
            <h2>Geography</h2>
            <h3>Scale sets</h3>
            <p>They are a way to create load-balanced virtual machine.</p>
        </section>

        <section class="main-section content">
            <h2>Azure Services</h2>
            <h3>Azure Load Balancer</h3>
            <p>Supports high availability and scalability. A load balancer is designed to distribute incoming network
                traffic across multiple instances of applications or services, ensuring high availability and
                scalability. It can be configured to distribute traffic across availability zones within a region,
                providing redundancy in case of failures and allowing applications to handle increased loads while
                maintaining optimal performance and availability.</p>

            <h3>Azure Logic Apps</h3>
            <p>Logic apps are the way to connect various services, applications, and data sources, both within and
                outside of Azure, using workflow-oriented and integration scenarios. </p>

            <h3>Azure Resource Manager</h3>
            <p>ARM is a way to organize and manage azure resources using a unified group-based approach rather than
                deploying Azure items individually</p>

            <h3>Azure Virtual Network</h3>
            <p>Enable a user to control virtual machines and cloud services but are not specific to availability and
                scale.</p>






        </section>

        <!-- Bookmarks -->
        <section class="bookmark content">
            <h2>Bookmarks</h2>


        </section>

    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="row footer-legal">
            <div class="col-3">
                <h4>Plan du site</h4>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="other.html">Intérêts</a></li>
                    <li><a href="veilles/sommaire-veilles.html">Veilles</a></li>
                    <li><a href="flash_cards/sommaire-flash-cards.html">FlashCards</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p>Contenu régulièrement mis à jour. n'hésitez pas à revenir prochainement et à mettre mes veilles
                    dans
                    vos favorites.</p>
            </div>
        </div>
        <p class="footer-end">Made with enthousiasm by @carozum</p>
    </footer>


    <script src="script.js"></script>
</body>

</html>