{% extends 'layout.html' %}
{% block header%}
Insert an item to the database
{% endblock%}
{% block content%}
<section>
    <h2>Principle</h2>
    <p>Refer to Flask-sqlAlchemy documentation</p>
    <ol>
        <li>Create the python object which is an instance of the class defined in models.py : new_pet</li>
        <li>Add it to the session : db.session.add(new_pet)</li>
        <li>Commit the session : db.session.commit()</li>
        <li>The last thing we want to do is to redirect the user to the homepage. It kind og makes it seem likes yes, I
            did finish finning up the form because I have been sent somewhere else. I import redirect and then return
            redirect(url_for('index'))</li>
    </ol>
    <p>If there is no form submitted, we are send to the user the add_pet.html page. But if there is a form that has
        been submitted, like after a POST, then we are going to create a new pet, add it to session, commit it and then
        send them back over to the homepage. </p>
</section>


<section>
    <h2>Code resulting, in app.py</h2>
    <pre><code class="python">
    from flask import (render_template, url_for, request, redirect)
    from models import db, Pet, app

    
    @app.route('/add-pet', methods=['GET', 'POST'])
    def add_pet():
        if request.form:  
            # if there is a form, use the information submitted 
            # to create a new pet object from the models.py, Pet class
            # in the brackets is name defined in the input tags (html form)
            new_pet = Pet(
                name=request.form['name'],
                age=request.form['age'],
                breed=request.form['breed'],
                color=request.form['color'],
                size=request.form['size'],
                weight=request.form['weight'],
                url=request.form['url'],
                url_tag=request.form['alt'],
                pet_type=request.form['pet'],
                gender=request.form['gender'],
                spay=request.form['spay'],
                house_trained=request.form['housetrained'],
                description=request.form['description'],
            )
            db.session.add(new_pet)
            db.session.commit()
            return redirect(url_for('pets'))
        return render_template('p1-addpet.html')


    </code></pre>
</section>

<section>
    <h2>To check my work</h2>
    <ol>
        <li>In add-pet page in the browser, fill the form and enter a new pet. SUbmit</li>
        <li>in terminal : sqlite3 pets.db</li>
        <li>in terminal : .tables (to have the list of the tables)</li>
        <li>in terminal a SQL statement : SELECT * FROM pet;</li>
        <li>.exit to exit out of SQLite.</li>
    </ol>
</section>

<section>
    <h2>Display the added pets on our home page</h2>
    <ol>
        <li>Add some more pets, submitting new form</li>
        <li>In app.py, in index route, add a variable called pets</li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
</section>

{% endblock%}