<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../style.css">
    <title>Flask</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <p class="logo"><a href="index.html"><i class="fa fa-home fa-2x"></i></a></p>
            <ul class="navbar">
                <li class="navbar-link"><a href="index.html#skills">Skills</a></li>
                <li class="navbar-link"><a href="index.html#experiences">Expériences</a></li>
                <li class="navbar-link"><a href="index.html#formations">Formations</a></li>
                <li class="navbar-link"><a href="https://github.com/carozum" target="_blank">Portfolio</a></li>
                <li class="navbar-link"><a href="other.html">Intérêts</a></li>
                <li class="navbar-link"><a href="sommaire-veilles.html">Veilles</a></li>
                <li class="navbar-link"><a href="sommaire-flash-cards.html">FlashCards</a></li>
            </ul>
        </nav>

        <section class="me">
            <div class="me-infos">
                <p class="me-adresse"><i class="fa fa-map"></i> Pays Basque - Toulouse - Remote</p>
                <a class="me-mail" href="mailto:test-caro@gmail.com"><i class="fa fa-envelope"></i> Me contacter</a>
                <!-- Ajouter le logo linked in -->

                <a href="www.linkedin.com/in/carozum" class="me-linkedIn"><i class="fa fa-linkedin"></i> Profil
                    LinkedIn</a>
                <a href="www.https://github.com/carozum" class="me-github"><i class="fa fa-github"></i> Profil
                    GitHub</a>
            </div>
            <div class="me-image">
                <img src="../../assets/images/photo-caro-cv.png" alt="une photo de caroline zumbiehl souriante"
                    class="me-photo">
            </div>
        </section>


        <section class="pres bg-vert">
            <h1 class="pres-titre">Veilles Flask</h1>
            <p class="pres-soustitre">Step 4 - Static files</p>
            <!-- <p class=" pres-accroche mb-1"> -->
            </p>
        </section>
    </header>

    <section class="breadcrumb main-content content">
        <p><a href="flask-add-templates.html">Page précédente</a> <i class="fa fa-arrow-left"></i> <a
                href="../../sommaire-veilles.html">Sommaire Veilles</a> <i class="fa fa-arrow-right"></i> <a
                href="flask-template-inheritance.html">Page suivante</a></p>
    </section>

    <main class="veilles main-section">

        <!-- section 1 installation -->
        <section class="main-section content">
            <h2>Static files</h2>
            <p>They are css and js files. </p>
            <ol>
                <li>Create the 'static' folder and inside 2 other folders : css and js where you can put your css
                    stylesheet and your js scrips.</li>
                <li>In the html templates, add link to the css stylesheet : href="/static/css/styles.css"</li>
                <li>Before the closing body tag, add the script tag with src='static/js/app.js'</li>
                <li>Create your own palette in styles.css</li>
                <li>Change the font family</li>
                <li>Uses icons if it makes sense</li>
            </ol>

        </section>

        <!-- Bookmarks -->
        <section class="bookmark content">
            <h2>Bookmarks</h2>
            <ul>
                <li><a href="https://www.webdevbydoing.com/absolute-relative-and-root-relative-file-paths/">Absolute /
                        relative file path</a>
                </li>
                <li><a href="https://coolors.co/palettes/trending">Color palettes - coolors</a>
                </li>
                <li><a href="https://colorhunt.co/">Color palettes - colorhunt</a></li>
                <li><a href="https://web.mit.edu/jmorzins/www/fonts.html">Web Safe Fonts</a></li>
                <li><a href="https://fontawesome.com/v4/icon/cubes">Fontawesome icons</a></li>
            </ul>

        </section>

    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="row footer-legal">
            <div class="col-3">
                <h4>Plan du site</h4>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="other.html">Intérêts</a></li>
                    <li><a href="veilles/sommaire-veilles.html">Veilles</a></li>
                    <li><a href="flash_cards/sommaire-flash-cards.html">FlashCards</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p>Contenu régulièrement mis à jour. n'hésitez pas à revenir prochainement et à mettre mes veilles
                    dans
                    vos favorites.</p>
            </div>
        </div>
        <p class="footer-end">Made with enthousiasm by @carozum</p>
    </footer>


    <script src="script.js"></script>
</body>

</html>