<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../style.css">
    <title>Flask</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <p class="logo"><a href="../../index.html"><i class="fa fa-home fa-2x"></i></a></p>
            <ul class="navbar">
                <li class="navbar-link"><a href="../../index.html#skills">Skills</a></li>
                <li class="navbar-link"><a href="../../index.html#experiences">Expériences</a></li>
                <li class="navbar-link"><a href="../../index.html#formations">Formations</a></li>
                <li class="navbar-link"><a href="https://github.com/carozum" target="_blank">Portfolio</a></li>
                <li class="navbar-link"><a href="../../other.html">Intérêts</a></li>
                <li class="navbar-link"><a href="../../sommaire-veilles.html">Veilles</a></li>
                <li class="navbar-link"><a href="../../sommaire-flash-cards.html">FlashCards</a></li>
            </ul>
        </nav>

        <section class="me">
            <div class="me-infos">
                <p class="me-adresse"><i class="fa fa-map"></i> Pays Basque - Toulouse - Remote</p>
                <a class="me-mail" href="mailto:test-caro@gmail.com"><i class="fa fa-envelope"></i> Me contacter</a>
                <!-- Ajouter le logo linked in -->

                <a href="www.linkedin.com/in/carozum" class="me-linkedIn"><i class="fa fa-linkedin"></i> Profil
                    LinkedIn</a>
                <a href="www.https://github.com/carozum" class="me-github"><i class="fa fa-github"></i> Profil
                    GitHub</a>
            </div>
            <div class="me-image">
                <img src="../../assets/images/photo-caro-cv.png" alt="une photo de caroline zumbiehl souriante"
                    class="me-photo">
            </div>
        </section>


        <section class="pres bg-vert">
            <h1 class="pres-titre">Veilles Flask</h1>
            <p class="pres-soustitre">Step 7 - SQLAlchemy connection</p>
            <!-- <p class=" pres-accroche mb-1"> -->
            </p>
        </section>
    </header>

    <section class="breadcrumb main-content content">
        <p><a href="flask-form.html">Page précédente</a> <i class="fa fa-arrow-left"></i> <a
                href="../../sommaire-veilles.html">Sommaire Veilles</a> <i class="fa fa-arrow-right"></i> <a
                href="flask-static-files.html">Page suivante</a></p>
    </section>

    <main class="veilles main-section">

        <!-- section 1 installation -->
        <section class="main-section content">
            <h2>Connection to the database</h2>
            <p>Flask as a special SQLalchemy connection called Flask-SQLAlchemy:
            </p>
            <ul>
                <li><code>pip install flask-sqlalchemy</code></li>
                <li><code>pip freeze > requirements.txt</code></li>
                <li>Create a new file : models.py</li>
                <li>Add the imports (Flask, SQLAlchemy and datetime</li>
                <li>Move your app variable over to this file (from app.py to models.py)</li>
                <li>Set the database filename and location (see documentation quickstart for flask-sqlalchemy)</li>
                <li>add our db variable equals to SQLAlchemy(app)</li>
                <li>Now we can create a model for the database : the model creates the layout for the table by stating
                    what the
                    column names are and the type of content inside each columns.</li>
                <li>We also create a __repr__ method so that our pets are nicely organized when they are printed to the
                    console.
                </li>
                <li>Inside app.py change the import (no longer needed to import Flask in app.py as it is done in
                    models.py)</li>
                <li>and delete : app = Flask(__name__) as the app is already created in models.py</li>


            </ul>
            <h2>In models.py</h2>
            <pre>
        <code>
            from flask import Flask
            from flask_sqlalchemy import SQLAlchemy
            import datetime
            
            app = Flask(__name__)
            app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///pets.db'
            db = SQLAlchemy(app)
            
            
            class Pet(db.Model):
                id = db.Column(db.Integer, primary_key=True)
                created = db.Column('Created', db.DateTime, 
                                default=datetime.datetime.now)
                name = db.Column('Name', db.String())
                age = db.Column('Age', db.String())
                breed = db.Column('Breed', db.String())
                color = db.Column('Color', db.String())
                size = db.Column('Size', db.String())
                weight = db.Column('Weight', db.String())
                url = db.Column('URL', db.String())
                url_tag = db.Column('Alt tag', db.String())
                pet_type = db.Column('Pet Type', db.String())
                gender = db.Column('Gender', db.String())
                spay = db.Column('Spay', db.String())
                house_trained = db.Column('House Trained', db.String())
                description = db.Column('Description', db.Text)
            
                # __repr__ so that our pets are nicely organized when they are printed to the console.
                def __repr__(self):
                    return f"""&lt;Pet (Name: {self.name}
                                    Age: {self.age}
                                    Breed: {self.breed}
                                    Color: {self.color}
                                    Size: {self.size}
                                    Weight: {self.weight}
                                    URL: {self.url}
                                    Tag : {self.url_tag}
                                    Pet Type: {self.pet_type}
                                    Gender: {self.gender}
                                    Spay: {self.spay}
                                    House Trained: {self.house_trained}
                                    Description: {self.description}
                            )"""
                        </code>
    </pre>

            <h2>in app.py</h2>
            <pre><code>
    from flask import (render_template, url_for, request)
    from models import db, Pet, app


    @app.route('/')
    def index():
        return render_template('index.html')

    
    if __name__ == '__main__':
        with app.app_context():
            db.create_all()
        app.run(debug=True, port=8000, host='127.0.0.1')
    </code></pre>

        </section>


        <section class="main-section content">
            <h2>Very common error about datetime.datetime.now</h2>
            <p>
                In Python, functions are first class objects. That is, they can be treated like a ordinary object and be
                assigned to a variable. </p>
            <p>datetime.now refers to the function as an object and datetime.now() executes the function and returns the
                current
                time.</p>

            <p>A common scenario is using the current date and time. It allows you to specify a
                function in these cases, whose return value will be used when the object is created. Note we only
                provide the
                function, we do not actually call it:</p>

            <pre><code>
            class Pet(db.Model):
                id = db.Column(db.Integer, primary_key=True)
                created = db.Column('Created', db.DateTime, 
                                        default=datetime.datetime.now)
            </code></pre>
            <p>With the parens it will execute at compile time so every instance would have the same value. That is to
                say, when
                the model.py file is run and then it would never call it again, which is not what we want. </p>
            <p>We want the date to work every single time we create a new entry. Without the parens,it will execute at
                instantiation time and each instance would get the time when the new instance is created.</p>

        </section>

        <section class="bookmark content">
            <h2>Bookmarks</h2>
            <li><a href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/quickstart/#a-minimal-application">flask-sqlalchemy
                    quickstart</a></li>
            <li><a href="https://docs.peewee-orm.com/en/latest/index.html">Peewee ORM</a> Peewee is a simple and small
                ORM.
                It has few (but expressive) concepts, making it easy to learn and intuitive to use.</li>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="row footer-legal">
            <div class="col-3">
                <h4>Plan du site</h4>
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../other.html">Intérêts</a></li>
                    <li><a href="../../veilles/sommaire-veilles.html">Veilles</a></li>
                    <li><a href="../../flash_cards/sommaire-flash-cards.html">FlashCards</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p>Contenu régulièrement mis à jour. n'hésitez pas à revenir prochainement et à mettre mes veilles
                    dans
                    vos favorites.</p>
            </div>
        </div>
        <p class="footer-end">Made with enthousiasm by @carozum</p>
    </footer>


    <script src="script.js"></script>
</body>

</html>