<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../style.css">
    <title>Flask</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <p class="logo"><a href="../../index.html"><i class="fa fa-home fa-2x"></i></a></p>
            <ul class="navbar">
                <li class="navbar-link"><a href="../../index.html#skills">Skills</a></li>
                <li class="navbar-link"><a href="../../index.html#experiences">Expériences</a></li>
                <li class="navbar-link"><a href="../../index.html#formations">Formations</a></li>
                <li class="navbar-link"><a href="https://github.com/carozum" target="_blank">Portfolio</a></li>
                <li class="navbar-link"><a href="../../other.html">Intérêts</a></li>
                <li class="navbar-link"><a href="../../sommaire-veilles.html">Veilles</a></li>
                <li class="navbar-link"><a href="../../sommaire-flash-cards.html">FlashCards</a></li>
            </ul>
        </nav>

        <section class="me">
            <div class="me-infos">
                <p class="me-adresse"><i class="fa fa-map"></i> Pays Basque - Toulouse - Remote</p>
                <a class="me-mail" href="mailto:test-caro@gmail.com"><i class="fa fa-envelope"></i> Me contacter</a>
                <!-- Ajouter le logo linked in -->

                <a href="www.linkedin.com/in/carozum" class="me-linkedIn"><i class="fa fa-linkedin"></i> Profil
                    LinkedIn</a>
                <a href="www.https://github.com/carozum" class="me-github"><i class="fa fa-github"></i> Profil
                    GitHub</a>
            </div>
            <div class="me-image">
                <img src="../../assets/images/photo-caro-cv.png" alt="une photo de caroline zumbiehl souriante"
                    class="me-photo">
            </div>
        </section>


        <section class="pres bg-vert">
            <h1 class="pres-titre">Veilles Flask</h1>
            <p class="pres-soustitre">Step 3 - Add templates</p>
            <!-- <p class=" pres-accroche mb-1"> -->
            </p>
        </section>
    </header>

    <section class="breadcrumb main-content content">
        <p><a href="flask-quickstart.html">Page précédente</a> <i class="fa fa-arrow-left"></i> <a
                href="../../sommaire-veilles.html">Sommaire Veilles</a> <i class="fa fa-arrow-right"></i> <a
                href="flask-static-files.html">Page suivante</a></p>
    </section>

    <main class="veilles main-section">

        <!-- section 1 installation -->
        <section class="main-section content">
            <h2>Templates</h2>
            <p>Templates are html files that flask uses to create the structure of our website. </p>
            <ol>
                <li>Add a folder called 'templates' - exact name</li>
                <li>Inside of this folder, we can create html file for our homepage : index.html.</li>
                <li>Add content to html file</li>
                <li>in app.py, import the render_template method and return render_template('index.html')</li>
            </ol>

        </section>


        <section class="main-section content">
            <h2>Flask code</h2>
            <pre><code class="python">
            from flask import Flask, render_template
        
            app = Flask(__name__)
        
            @app.route('/')
            def index():
                return render_template('index.html')  
        
            @app.route('/pets')  # request
            def pets():
                return render_template('pets.html')
        
            @app.route('/set-environment')
            def environment():
                return render_template('set-environment.html')
        
            if __name__ == '__main__':
                app.run(debug=True, port=8000, host='127.0.0.1')
                    </code></pre>

        </section>

    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="row footer-legal">
            <div class="col-3">
                <h4>Plan du site</h4>
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../other.html">Intérêts</a></li>
                    <li><a href="../../veilles/sommaire-veilles.html">Veilles</a></li>
                    <li><a href="../../flash_cards/sommaire-flash-cards.html">FlashCards</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p>Contenu régulièrement mis à jour. n'hésitez pas à revenir prochainement et à mettre mes veilles
                    dans
                    vos favorites.</p>
            </div>
        </div>
        <p class="footer-end">Made with enthousiasm by @carozum</p>
    </footer>


    <script src="script.js"></script>
</body>

</html>