<!-- ______________cloud concepts__________ -->

<section>
    <h2>Describe cloud concepts</h2>

    <section class="item">
        <p class="question">1. Azure Web Apps and Azure SQL Server are both _____ offerings </p>
        <ol class="choices">
            <li class="choice">Serverless Computing</li>
            <li class="choice">Infrastructure as a Service</li>
            <li class="choice">Platform as a Service</li>
            <li class="choice">Software as a service</li>
        </ol>
        <p class="answer">PaaS</p>
    </section>

    <section class="item">
        <p class="question">2. A company is planning to migrate its users from using Microsoft 2016 to Microsoft 365 and
            Azure
            Blob
            Storage. To which of the following models would these resources belong? </p>
        <ol class="choices">
            <li class="choice">Saas</li>
            <li class="choice">SaaS and Iaas</li>
            <li class="choice">PaaS</li>
            <li class="choice">IaaS</li>
        </ol>
        <p class="answer">SaaS and Iaas</p>
    </section>

    <section class="item">
        <p class="question">3. Which Azure feature allows applications to maintain high availability and scalability by
            automatically distributing traffic across multiple instances in different availability zones within a
            region?</p>
        <ol class="choices">
            <li class="choice">Azure virtual Network</li>
            <li class="choice">Azure Resource Manager</li>
            <li class="choice">Azure Logic Apps</li>
            <li class="choice">Azure Load Balancer</li>
        </ol>
        <p class="answer">Azure Load Balancer</p>
    </section>

    <section class="item">
        <p class="question">4. Your company has decided to host a new application on a set of Azure Virtual Machines,
            hosted in the Northern Virginia data center only. The application owners in the marketing department want to
            be assured that th IT department can recover from a region-wide failure in Azure should an unplanned event
            occur. Which cloud computing concepts must be addressed during planning? </p>
        <ol class="choices">
            <li class="choice">Elasticity and Scalability</li>
            <li class="choice">Agility</li>
            <li class="choice">Scale Sets</li>
            <li class="choice">Disaster Recovery</li>
        </ol>
        <p class="answer">Disaster Recovery and Elasticity and scalability</p>
    </section>



    <section class="item">
        <p class="question">55. You recently deployed a new virtual machine. The helpdesk has received numerous calls
            over
            the
            past
            hour reporting slow performance. If you had to describe for the tech support engineers your initial concern,
            what
            best describes the common user problem?</p>
        <ol class="choices">
            <li class="choice">Dynamic scalability</li>
            <li class="choice">Fault tolerance</li>
            <li class="choice">Agility</li>
            <li class="choice">Latency</li>
        </ol>
        <p class="answer"></p>
    </section>
    <section class="item">
        <p class="question">58. What type of cloud arrangement no longer requires an organization to support any
            infrastructure
            in a
            data center</p>
        <ol class="choices">
            <li class="choice">In a serverless cloud</li>
            <li class="choice">In a public cloud</li>
            <li class="choice">In a private cloud</li>
            <li class="choice">In an hybrid cloud</li>
        </ol>
        <p class="answer"></p>
    </section>


</section>




<!-- _______management and governance_________ -->
<section>
    <h2>Describe Azure management and governance</h2>

    <section class="item">
        <p class="question">In the context of Azure Policy, which of the following options optimally describes its
            primary purpose? </p>
        <ol class="choices">
            <li class="choice">To define and enforce organizational standards and compliance for azure resources
            </li>
            <li class="choice">To automate software development and deployment processes</li>
            <li class="choice">To manage and optimize cloud resource costs.</li>
            <li class="choice">To provide real-time monitoring and alerting for network performances issues</li>
        </ol>
        <p class="answer"></p>
    </section>

</section>


<!-- _____________Architecture and services________ -->
<section>
    <h2>Describe Azure architecture and services</h2>

    <section class="item">
        <p class="question">A non-technical executive has asked you to explain how resources groups, subscriptions
            and
            management groups are associated in Microsoft Azure. Someone on your team sent an email explaining that
            Management
            Group contains subscriptions as well as resource groups. Is this True or False?</p>
        <ol class="choices">
            <li class="choice">True</li>
            <li class="choice">False</li>
        </ol>
        <p class="answer"></p>
    </section>

</section>